<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLink="/">RK Publication</a>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
    <!-- Show this for logged out users -->
      <ul *appShowAuthed="false"
        class="nav navbar-nav pull-xs-right">

        <li>
          <a class="nav-link"
            routerLink="/">
            Home
          </a>
        </li>

        <li>
          <a class="nav-link"
            routerLink="/service">
            Services
          </a>
        </li>

        <li>
          <a class="nav-link"
            routerLink="/">
            Products
          </a>
        </li>

        <li>
          <a class="nav-link"
            routerLink="/blog">
            Blog
          </a>
        </li>

        <li>
          <a class="nav-link"
            routerLink="/events">
            Events
          </a>
        </li>

        <li>
          <a class="nav-link"
            routerLink="/login"
            routerLinkActive="active">
            Sign in
          </a>
        </li>

        <li>
          <a class="nav-link"
            routerLink="/register"
            routerLinkActive="active">
            Sign up
          </a>
        </li>

      </ul>
    </div>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li>
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>

      <li>
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li>
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li>
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

    </ul>

  </div>
</nav>

